# Receiver DFSP simulator environment template
CBH_FSPIOP_FSP_ID=receiverfsp
CBH_FSPIOP_CALLBACK_HTTP_KEEPALIVE=true
CBH_FSPIOP_ALS_ENDPOINT_URL=http://__CORE_HOST__:__CORE_ALS_PORT__
CBH_FSPIOP_QUOTES_ENDPOINT_URL=http://__CORE_HOST__:__CORE_QUOTE_PORT__
CBH_FSPIOP_TRANSFERS_ENDPOINT_URL=http://__CORE_HOST__:__CORE_PORT__
CBH_FSPIOP_TRANSACTION_REQUESTS_ENDPOINT_URL=http://__CORE_HOST__:__CORE_TRANSACTION_REQUESTS_PORT__
TRANSFERS_FULFIL_RESPONSE_DISABLED=false
